<ul class="userlogin-menu-list">  
  <li class="userlogin-menu-list-item">
    <%= link_to "Home", root_path, class: "userlogin-menu-link" %>
  </li>
  <li class="userlogin-menu-list-item">
    <%= link_to 'Register', new_user_path, class: "userlogin-menu-link" %>
  </li>
  <li class="userlogin-menu-list-item">
    <%= link_to "Login", root_path, class: "userlogin-menu-link" %>
  </li>
  <li class="userlogin-menu-list-item">
    <%= link_to "About", about_path, class: "userlogin-menu-link" %>
  </li>
  <li class="userlogin-menu-list-item">
    <%= link_to "Contact", contact_path, class: "userlogin-menu-link" %>
  </li>
</ul>
